# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.build/

# Environments
venv/
.env
*.env

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# VS Code
.vscode/
.history/

# Data / Logs / Cache
logs/
*.log
cache/
